<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sudoku.mapper.GameRecordMapper">
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete
    from game_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sudoku.model.entity.GameRecord" useGeneratedKeys="true">
    insert into game_record (sudoku_matrix, sudoku_holes, start_time,
                             end_time, correct, slid,
                             `uid`)
    values (#{sudokuMatrix,jdbcType=CHAR}, #{sudokuHoles,jdbcType=CHAR}, #{startTime,jdbcType=TIMESTAMP},
            #{endTime,jdbcType=TIMESTAMP}, #{correct,jdbcType=BOOLEAN}, #{slid,jdbcType=INTEGER},
            #{uid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sudoku.model.entity.GameRecord"
    useGeneratedKeys="true">
    insert into game_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sudokuMatrix != null">
        sudoku_matrix,
      </if>
      <if test="sudokuHoles != null">
        sudoku_holes,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="correct != null">
        correct,
      </if>
      <if test="slid != null">
        slid,
      </if>
      <if test="uid != null">
        `uid`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sudokuMatrix != null">
        #{sudokuMatrix,jdbcType=CHAR},
      </if>
      <if test="sudokuHoles != null">
        #{sudokuHoles,jdbcType=CHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="correct != null">
        #{correct,jdbcType=BOOLEAN},
      </if>
      <if test="slid != null">
        #{slid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <resultMap id="BaseResultMap" type="com.sudoku.model.entity.GameRecord">
    <!--@Table game_record-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="sudoku_matrix" jdbcType="CHAR" property="sudokuMatrix"/>
    <result column="sudoku_holes" jdbcType="CHAR" property="sudokuHoles"/>
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
    <result column="correct" jdbcType="BOOLEAN" property="correct"/>
    <result column="slid" jdbcType="INTEGER" property="slid"/>
    <result column="uid" jdbcType="INTEGER" property="uid"/>
  </resultMap>
  <resultMap id="GameRecordVOMap" type="com.sudoku.model.vo.GameRecordVO">
    <result column="sudoku_matrix" property="sudokuMatrix"/>
    <result column="sudoku_holes" property="sudokuHoles"/>
    <result column="start_time" property="startTime"/>
    <result column="end_time" property="endTime"/>
    <result column="correct" property="correct"/>
    <result column="name" property="sudokuLevelName"/>
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from game_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findByUidOrderByStartTimeDesc" resultMap="GameRecordVOMap">
    select gr.sudoku_matrix,
           gr.sudoku_holes,
           gr.start_time,
           gr.end_time,
           gr.correct,
           sl.name
    from game_record gr
           inner join sudoku_level sl on gr.slid = sl.id
    where `uid` = #{uid,jdbcType=INTEGER}
    order by start_time desc
  </select>
  <sql id="Base_Column_List">
    id,
    sudoku_matrix,
    sudoku_holes,
    start_time,
    end_time,
    correct,
    slid,
    `uid`
  </sql>
  <update id="updateByPrimaryKeySelective" parameterType="com.sudoku.model.entity.GameRecord">
    update game_record
    <set>
      <if test="sudokuMatrix != null">
        sudoku_matrix = #{sudokuMatrix,jdbcType=CHAR},
      </if>
      <if test="sudokuHoles != null">
        sudoku_holes = #{sudokuHoles,jdbcType=CHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="correct != null">
        correct = #{correct,jdbcType=BOOLEAN},
      </if>
      <if test="slid != null">
        slid = #{slid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        `uid` = #{uid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.sudoku.model.entity.GameRecord">
    update game_record
    set sudoku_matrix = #{sudokuMatrix,jdbcType=CHAR},
        sudoku_holes  = #{sudokuHoles,jdbcType=CHAR},
        start_time    = #{startTime,jdbcType=TIMESTAMP},
        end_time      = #{endTime,jdbcType=TIMESTAMP},
        correct       = #{correct,jdbcType=BOOLEAN},
        slid          = #{slid,jdbcType=INTEGER},
        `uid`         = #{uid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateEndTimeAndCorrectById">
    update game_record
    set end_time=#{updatedEndTime,jdbcType=TIMESTAMP},
        correct=#{updatedCorrect,jdbcType=BOOLEAN}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>