<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sudoku.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.sudoku.model.entity.Role">
    <!--@Table `role`-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="name_zh" jdbcType="VARCHAR" property="nameZh"/>
  </resultMap>

  <sql id="Base_Column_List">
    id,
    `name`,
    name_zh
  </sql>

  <select id="selectByUserId" resultMap="BaseResultMap">
    select r.*
    from role r,
         user_role ur
    where ur.role_id = r.`id`
      and ur.user_id = #{id,jdbcType=INTEGER};
  </select>

  <select id="selectIdsByNames" parameterType="list" resultType="java.lang.Integer">
    select `id`
    from role
      where `name` in
    <foreach close=")" collection="list" item="item" open="(" separator=",">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </select>
</mapper>