<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sudoku.project.mapper.StatisticsUserMapper">
  <resultMap id="StatisticsUserDataBOResult" type="com.sudoku.project.model.bo.StatisticsUserDataBO">
    <result column="user_total" property="userTotal"/>
    <result column="user_active_total" property="userActiveTotal"/>
  </resultMap>
  <resultMap id="BaseResultMap" type="com.sudoku.project.model.entity.StatisticsUser">
    <!--@Table statistics_user-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="user_total" jdbcType="INTEGER" property="userTotal"/>
    <result column="user_active_total" jdbcType="INTEGER" property="userActiveTotal"/>
    <result column="date_name" jdbcType="VARCHAR" property="dateName"/>
    <result column="date" jdbcType="TIMESTAMP" property="date"/>
  </resultMap>
  <sql id="Base_Column_List">
    id,
    user_total,
    user_active_total,
    date_name,
    `date`
  </sql>

  <select id="findFirstDateByDateNameOrderByDateDesc" resultType="java.time.LocalDateTime">
    select `date`
    from statistics_user
    where date_name = #{dateName,jdbcType=VARCHAR}
    order by `date` desc
    limit 1
  </select>

  <select id="selectUserTotalAndUserActiveTotalByDateBetweenAndDateName" resultMap="StatisticsUserDataBOResult">
    select user_total, user_active_total
    from statistics_user
    where DAY(`date`) <![CDATA[>=]]> DAY(#{startDate,jdbcType=TIMESTAMP})
      and DAY(`date`) <![CDATA[<]]> DAY(#{endDate,jdbcType=TIMESTAMP})
      and date_name = #{dateName,jdbcType=VARCHAR}
  </select>
</mapper>