<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sudoku.project.mapper.StatisticsGameMapper">
  <resultMap id="StatisticsGameDataBOResult"
    type="com.sudoku.project.model.bo.StatisticsGameDataBO">
    <result column="correct_total" property="correctTotal"/>
    <result column="error_total" property="errorTotal"/>
    <result column="sudoku_level_id" property="sudokuLevelId"/>
  </resultMap>
  <resultMap id="BaseResultMap" type="com.sudoku.project.model.entity.StatisticsGame">
    <!--@Table statistics_game-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="correct_total" jdbcType="INTEGER" property="correctTotal"/>
    <result column="error_total" jdbcType="INTEGER" property="errorTotal"/>
    <result column="sudoku_level_id" jdbcType="INTEGER" property="sudokuLevelId"/>
    <result column="date_name" jdbcType="VARCHAR" property="dateName"/>
    <result column="date" jdbcType="DATE" property="date"/>
  </resultMap>
  <sql id="Base_Column_List">
    id,
    correct_total,
    error_total,
    sudoku_level_id,
    date_name,
    `date`
  </sql>

  <select id="findFirstDateByDateNameOrderByDateDesc" resultType="java.time.LocalDate">
    select `date`
    from statistics_game
    where date_name = DATE(#{dateName,jdbcType=VARCHAR})
    order by `date` desc
    limit 1
  </select>

  <select id="selectGameTotalByDateName" resultType="java.lang.Integer">
    select SUM(correct_total) + SUM(error_total)
    from statistics_game
    where date_name = #{dateName,jdbcType=VARCHAR}
  </select>

  <select id="selectGameTotalByDateBetweenAndDateName" resultType="java.lang.Integer">
    select SUM(correct_total) + SUM(error_total)
    from statistics_game
    where `date` <![CDATA[>=]]> DATE(#{startDate,jdbcType=DATE})
      and `date` <![CDATA[<]]> DATE(#{endDate,jdbcType=DATE})
      and date_name = #{dateName,jdbcType=VARCHAR}
  </select>

  <select id="selectGameTotalByDateAfterAndDateName" resultType="java.lang.Integer">
    select SUM(correct_total) + SUM(error_total)
    from statistics_game
    where `date` <![CDATA[>=]]> DATE(#{startDate,jdbcType=DATE})
      and date_name = #{dateName,jdbcType=VARCHAR}
  </select>

  <insert id="insertList">
    INSERT INTO statistics_game(correct_total,
                                error_total,
                                sudoku_level_id,
                                date_name,
                                date)
      VALUES
    <foreach collection="list" item="element" index="index" separator=",">
      (#{element.correctTotal,jdbcType=INTEGER},
       #{element.errorTotal,jdbcType=INTEGER},
       #{element.sudokuLevelId,jdbcType=INTEGER},
       #{element.dateName,jdbcType=VARCHAR},
       #{element.date,jdbcType=DATE})
    </foreach>
  </insert>

  <select id="selectCorrectTotalAndErrorTotalAndSudokuLevelIdByDateBetweenAndDateName" resultMap="StatisticsGameDataBOResult">
    select correct_total, error_total, sudoku_level_id
    from statistics_game
    where `date` <![CDATA[>=]]> DATE(#{startDate,jdbcType=DATE})
      and `date` <![CDATA[<]]> DATE(#{endDate,jdbcType=DATE})
      and date_name = #{dateName,jdbcType=VARCHAR}
  </select>

  <select id="selectCorrectTotalSumAndErrorTotalSumAndSudokuLevelIdByDateBetweenAndDateName"
    resultMap="StatisticsGameDataBOResult">
    select SUM(correct_total) as correct_total, SUM(error_total) as error_total, sudoku_level_id
    from statistics_game
    where `date` <![CDATA[>=]]> DATE(#{startDate,jdbcType=DATE})
      and `date` <![CDATA[<]]> DATE(#{endDate,jdbcType=DATE})
      and date_name = #{dateName,jdbcType=VARCHAR}
    group by sudoku_level_id
  </select>
</mapper>