<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sudoku.project.mapper.StatisticsUserMapper">
  <resultMap id="BaseResultMap" type="com.sudoku.project.model.entity.StatisticsUser">
    <!--@Table statistics_user-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="new_user_total" jdbcType="INTEGER" property="newUserTotal"/>
    <result column="active_user_total" jdbcType="INTEGER" property="activeUserTotal"/>
    <result column="date_name" jdbcType="VARCHAR" property="dateName"/>
    <result column="date" jdbcType="DATE" property="date"/>
  </resultMap>
  <sql id="Base_Column_List">
    id,
    new_user_total,
    active_user_total,
    date_name,
    `date`
  </sql>
  <resultMap id="StatisticsUserDataBOResult" type="com.sudoku.project.model.bo.StatisticsUserDataBO">
    <result column="new_user_total" property="newUserTotal"/>
    <result column="active_user_total" property="activeUserTotal"/>
  </resultMap>

  <select id="findFirstDateByDateNameOrderByDateDesc" resultType="java.time.LocalDate">
    select `date`
    from statistics_user
    where date_name = #{dateName,jdbcType=VARCHAR}
    order by `date` desc
    limit 1
  </select>

  <select id="selectNewUserTotalAndActiveUserTotalByDateBetweenAndDateName" resultMap="StatisticsUserDataBOResult">
    select new_user_total, active_user_total
    from statistics_user
    where DATE(`date`) <![CDATA[>=]]> DATE(#{startDate,jdbcType=DATE})
      and DATE(`date`) <![CDATA[<]]> DATE(#{endDate,jdbcType=DATE})
      and date_name = #{dateName,jdbcType=VARCHAR}
  </select>

  <select id="selectNewUserTotalSumByDateName" resultType="java.lang.Integer">
    select SUM(new_user_total)
    from statistics_user
    where date_name = #{dateName,jdbcType=VARCHAR}
  </select>

  <select id="selectNewUserTotalSumByDateAfterAndDateName" resultType="java.lang.Integer">
    select SUM(new_user_total)
    from statistics_user
    where DATE(`date`) <![CDATA[>=]]> DATE(#{startDate,jdbcType=DATE})
      and date_name = #{dateName,jdbcType=VARCHAR}
  </select>
</mapper>