<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sudoku.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.sudoku.model.entity.UserRole">
    <!--@Table user_role-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="uid" jdbcType="INTEGER" property="uid"/>
    <result column="rid" jdbcType="INTEGER" property="rid"/>
  </resultMap>

  <sql id="Base_Column_List">
    id,
    `uid`,
    rid
  </sql>

  <insert id="batchInsert" parameterType="list">
    insert into user_role (`uid`, rid)
      values
    <foreach collection="list" item="item" separator=",">
      (#{item.uid,jdbcType=INTEGER}, #{item.rid,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>