<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sudoku.project.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.sudoku.project.model.entity.UserRole">
    <!--@Table user_role-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="user_id" jdbcType="INTEGER" property="userId"/>
    <result column="role_id" jdbcType="INTEGER" property="roleId"/>
  </resultMap>

  <sql id="Base_Column_List">
    id,
    user_id,
    role_id
  </sql>

  <insert id="batchInsert" parameterType="list">
    insert into user_role (user_id, role_id)
      values
    <foreach collection="list" item="item" separator=",">
      (#{item.userId,jdbcType=INTEGER}, #{item.roleId,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>