<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sudoku.project.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.sudoku.project.model.entity.User">
    <!--@Table `user`-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="username" jdbcType="VARCHAR" property="username"/>
    <result column="password" jdbcType="VARCHAR" property="password"/>
    <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="recent_login_time" jdbcType="TIMESTAMP" property="recentLoginTime"/>
    <result column="enabled" jdbcType="TINYINT" property="enabled"/>
  </resultMap>
  <sql id="Base_Column_List">
    id,
    username,
    `password`,
    nickname,
    create_time,
    recent_login_time,
    enabled
  </sql>

  <resultMap extends="BaseResultMap" id="UserWithRole" type="com.sudoku.project.model.entity.User">
    <collection ofType="com.sudoku.project.model.entity.Role" property="roles">
      <id column="rid" property="id"/>
      <result column="rname" property="name"/>
      <result column="rnameZh" property="nameZh"/>
    </collection>
  </resultMap>

  <select id="selectByUsername" resultMap="BaseResultMap">
    select *
    from `user`
    where username = #{username,jdbcType=VARCHAR}
  </select>

  <select id="selectWithRoleByUsername" resultMap="UserWithRole">
    select user.*, r.`id` as rid, r.`name` as rname, r.name_zh as rnameZh
    from user
           inner join user_role ur on ur.user_id = user.id
           inner join role r on r.`id` = ur.role_id
    where username = #{username,jdbcType=VARCHAR}
  </select>

  <update id="updateRecentLoginTimeById">
    update `user`
    set recent_login_time=#{loginTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="countByCreateTimeBetween" resultType="java.lang.Integer">
    select count(1)
    from `user`
    where DATE(create_time) <![CDATA[>=]]> DATE(#{startCreateTime,jdbcType=DATE})
      and DATE(create_time) <![CDATA[<]]>
          DATE(#{endCreateTime,jdbcType=DATE})
  </select>

  <select id="countByRecentLoginTimeBetween" resultType="java.lang.Integer">
    select count(1)
    from `user`
    where DATE(recent_login_time) <![CDATA[>=]]> DATE(#{startLoginTime,jdbcType=DATE})
      and DATE(recent_login_time) <![CDATA[<]]>
          DATE(#{endLoginTime,jdbcType=DATE})
  </select>

  <select id="findFirstCreateTimeOrderByCreateTime" resultType="java.time.LocalDateTime">
    select create_time
    from `user`
    order by create_time
    limit 1
  </select>

  <select id="selectAll" resultMap="UserWithRole">
    select
    <include refid="Base_Column_List"/>
    from `user`
  </select>

  <update id="updateModifyById">
    update `user`
    <set>
      <if test="user.username != null">
        username = #{user.username,jdbcType=VARCHAR},
      </if>
      <if test="user.nickname != null">
        nickname = #{user.nickname,jdbcType=VARCHAR},
      </if>
      <if test="user.createTime != null">
        create_time = #{user.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="user.recentLoginTime != null">
        recent_login_time = #{user.recentLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="user.enabled != null">
        enabled = #{user.enabled,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{user.id,jdbcType=INTEGER}
  </update>

  <select id="selectAllWithRole" resultMap="UserWithRole">
    select user.*, r.`id` as rid, r.`name` as rname, r.name_zh as rnameZh
    from user
           inner join user_role ur on ur.user_id = user.id
           inner join role r on r.`id` = ur.role_id
  </select>
</mapper>