<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sudoku.game.mapper.RaceInformationMapper">
  <resultMap id="BaseResultMap" type="com.sudoku.game.model.entity.RaceInformation">
    <!--@Table race_information-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="title" jdbcType="VARCHAR" property="title"/>
    <result column="description" jdbcType="VARCHAR" property="description"/>
    <result column="creator_user_id" jdbcType="INTEGER" property="creatorUserId"/>
    <result column="sudoku_record_id" jdbcType="INTEGER" property="sudokuRecordId"/>
  </resultMap>

  <sql id="Base_Column_List">
    id,
    title,
    description,
    creator_user_id,
    sudoku_record_id
  </sql>

  <select id="selectAllByEndTimeBefore" resultType="com.sudoku.game.model.vo.RaceInformationVO">
    select ri.id,
           title,
           description,
           start_time,
           end_time
    from race_information ri
           inner join sudoku_record sr on ri.sudoku_record_id = sr.id
    where end_time <![CDATA[<]]> #{maxEndTime,jdbcType=TIMESTAMP}
  </select>
</mapper>